
:root{
    --primary-color: #343434;
    --secondary-color: #66FF7F;
    --extra-color: #FF5959;
    --body-color: #E5E5E5;
    --background-color: #fff;
    --btn-background-color: #F0F0F0;

}


body{
     height: 100vh;  
    display: flex;
    align-items: center;
    justify-content: center;  
    background-image: linear-gradient(to bottom right,  rgb(25, 250, 220), rgb(120, 255, 110)); 
}

.cal-body{
    background-color: var(--background-color);
    border-radius: 20px;
    width: 300px;
    height: 400px;
    transition: 0.5s;
}

.cal-body:hover{
        width: 330px;
        height: 430px;
}

.input-cont{
    height: 5rem;
   
}

.input-cont input{
    all: unset;
    padding: 0;
    border: none;
    outline: none;
    text-align: right;
    border-radius: 10px 10px 0 0;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    background-color: var(--btn-background-color);
    
}


.btn-cont{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    gap: 10px 10px;
}


.btn-group button{
    all: unset;
    color: #666;
    padding: 8px 22px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    float: left;
    transition: 0.3s;
}
.btn-group button:hover{
     background-color: var(--primary-color);
     color: var(--btn-background-color);
}
.btn-group .clr-btn{
    background-color: var(--secondary-color);
}

.btn-group .op-btn{
    color: var(--extra-color);
    background-color: var(--body-color);
}

.btn-group .op-btn:hover{
      background-color: var(--extra-color);
}

.btn-group .num-btn{
    background-color: var(--body-color);
}
.btn-group .funct-btn{
    background-color: var(--secondary-color);
}

.btn-group .funct-btn:hover{
     background-color: var(--extra-color);

}

